.hero-bg-1 {
  background-image: linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%);
}
.ts {
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
/* for mobile devices */
@media(max-width: 960px) {
  .pv7-ns {
    padding: 8rem 0;
  }
}
